<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tipografia Roboto-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Libreria Fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/439c181295.js"
      crossorigin="anonymous"
    ></script>

    <!-- Estilos propios-->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/colors.css" rel="stylesheet" />
    <link href="/css/mediaQueryStyle.css" rel="stylesheet" />

    <title>Mercado Libre</title>
  </head>

  <body>
    <header>
      <div class="logo-container">
        <div class="logo-bar-container">
          <div class="logo">
            <a href="/"
              ><img src="/images/logo-mercado-liebre.svg" alt="logo"
            /></a>
          </div>
          <div class="search-buttton-container">
            <div class="search-container">
              <input type="text" placeholder="Buscar productos, marcas..." />
              <button><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="card-container">
          <h2 class="card-title">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin
            tarjeta de crédito.
          </h2>
        </div>
      </div>
      <nav class="menu-container">
        <ul>
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
      <div class="burger-container">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>
    <section class="banner">
      <img src="images/img-home-banner.jpg" alt="banner" />
    </section>
    <main>
      <h3>Basado en tus ultimas visitas</h3>
      <section class="last-visit">
        <div class="product">
          <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
              <h4 class="description">Cafetera Mouolinex</h4>
            </div>
          </article>
          <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$230.000</p>
              <p class="discount">20% OFF</p>
              <h4 class="description">Macbook pro</h4>
            </div>
          </article>
          <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$70.000</p>
              <p class="discount">10% OFF</p>
              <h4 class="description">Samsung Galaxys s10</h4>
            </div>
          </article>
          <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="television" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$23.200</p>
              <p class="discount">5% OFF</p>
              <h4 class="description">Samsung smart tv 43"</h4>
            </div>
          </article>
        </div>
      </section>
      <h3>Ofertas</h3>
      <section class="ofert">
        <div class="product">
          <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
              <h4 class="description">Cafetera Mouolinex</h4>
            </div>
          </article>
          <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$230.000</p>
              <p class="discount">20% OFF</p>
              <h4 class="description">Macbook pro</h4>
            </div>
          </article>
          <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="celular" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$70.000</p>
              <p class="discount">10% OFF</p>
              <h4 class="description">Samsung Galaxys s10</h4>
            </div>
          </article>
          <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="television" />
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">$23.200</p>
              <p class="discount">5% OFF</p>
              <h4 class="description">Samsung smart tv 43"</h4>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div id="footer">
          <div class="pie-de-pagina">
              <i class="fa-solid fa-credit-card"></i>
              <h4>Pagá con tarjeta o en efectivo</h4>
              <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!</p>
          </div>
          <div class="pie-de-pagina">
              <i class="fa-solid fa-gift"></i>
              <h4>Envío gratis desde $ 2.500</h4>
              <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</p>
          </div>
          <div class="pie-de-pagina">
              <i class="fa-solid fa-user-shield"></i>
              <h4>Seguridad, de principio a fin</h4>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
          </div>
      </div>
          <div class="Copyright">
              <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
          </div>
  </footer>
  </body>
</html>
