*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body{
    background: var(--grisClaro)
}
a{
    text-decoration: none;
    color: var(--negro);
}

ul{
    list-style: none;
}

img{
    width: 100%;
} 

html{
    font-family: "roboto", sans-serif;
}
/* *** HEADER *** */
header{
    /* border: 3px solid green; */
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}

.logo-container{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.menu-container{
    border: 6px solid var(--amarillo); 
    display: none;
}

.burger-container{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

.logo-bar-container{
    /* border: 3px solid gray; */
    display: flex;
}
.card-container{
    /* border: 3px solid gray; */
    padding: 15px;
}

.logo{
    /* border: 3px solid pink; */
    width: 50%;
    padding: 10px;
}

.search-button-container{
    /* border: 3px solid pink; */
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-container{
    /* border: 3px solid blue; */
    display: flex;
    height: 25px;
    width: 90%;
}

.card-title{
    font-weight: 400;
    text-align: center;
}

.card-title i{
    margin-right: 10px;
}

.search-button-container input{
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}

button{
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0 ;
}

.burger-menu{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}
/* **FIN DEL HEADER** */

/*  **MAIN**  */
#main-home{
    width: 90%;
}

.titulo-articulos{
    border: 3px solid red;
}

h2{
    font-size: 24px;
    display: flex;
    justify-content: left;
}
.sub-contenedor-info{
    display: flex;
    width: 100%;
}
.sub-contenedor-info .precios{
    width: 30%;
}
.sub-contenedor-info .descuento{
    width: 70%;
    color: var(--verde);
}
.contenedor-article{
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    margin: 10px;
}
.contenedor-info{
    border-top: 1px solid #ebebeb;
    background-color: white;
    position: relative;
}


.contenedor-article i {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all .3s ease-in-out;
  }
  .contenedor-article i:hover{
    transform: rotate(-90deg);
  }

.precios{
    font-size: 18px;
    margin-left: 15px;
}

.descuento{
    font-size: 16px;
    margin-left: 15px;
}

.descripcion{
   font-size: 16px;
   margin-left: 15px;
   display: none;
}

/*  LOGIN */

#formulario-login{
    width: 90%;
    font-size: 20px;
    background-color: var(--grisClaro);
    border-radius: 10px;
    margin: 20px;
    margin-top: 31px;
    margin-bottom: 36px;
}

#formulario-login .login-usuario{
    display: block;
    margin: 15PX;
    text-align: center;
    margin: 20px;
}
.login-usuario label input{
    width: 95%;
    font-size: 20px;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 5px 5px 5px;
}
.login-usuario button{
    border: 2px solid blue;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    width: 60px;
}
#info-para-el-usuario{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.info-usuario{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

/*REGISTRO*/
#Cuerpo-Formulario{
    display: flex;
    justify-content: center;
}
#Formulario{
    width: 300px;
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
}

#Formulario input{
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
.formulario-registro{
    margin: 15px;
}
.boton{
    margin-bottom: 25px;
    text-align: center;
}

/* Footer */
footer{
    background-color: var(--blanco);
} 

.pie-de-pagina{
    margin-top: 15px;
    text-align: center;
    margin: 10px;
}
.pie-de-pagina i{
    font-size: 2em;
    margin: 5px;
    background-color: var(--blanco);
    color: var(--azul);
}
.pie-de-pagina h4{
    font-size: 15px;
}
footer h4{
    display: flex;
    justify-content: center;
}
