* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--grisClaro);
}

a {
    text-decoration: none;
    color: var(--negro);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

/*  **** HEADER **** */

header {
    /* border: 3px solid green; */
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}

.logo-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.menu-container {
    /* border: 3px solid red; */
    display: none;
}

.burger-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

.logo-bar-container {
    /* border: 3px solid gray; */
    display: flex;
}

.card-container {
    /* border: 3px solid gray; */
    padding: 15px;
}

.logo {
    /* border: 3px solid pink; */
    width: 50%;
    padding: 10px;
}

.search-buttton-container {
    /* border: 3px solid pink; */
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-container {
    /* border: 3px solid brown; */
    display: flex;
    height: 25px;
    width: 90%;
}

.card-title {
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto';
}

.card-title i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}



/**  FIN HEADER * */

/* PRODUCTOS */
main h3{
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
}

.last-visit, .ofert{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-visit .product{
width: 95%;
}

.product article{
    background: var(--blanco);
    padding: 10px 0;
}

.product article i{
    color: var(--verde);
    border: 1px solid var(--verde);
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: -15px;
    right: 20px;
    width: 35px;
    height: 35px;
}

.main-article{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    border-top: 1px solid var(--grisClaro);
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{ 
    width: 70%;
    color: var(--verde);
}

.discount, .description{
    font-size: 16px;
    font-weight: normal;
}
h3, .description{
    color: var(--grisOscuro);
}

article{
    margin-bottom: 15px;
}

.ofert .product{
    width: 95%;
}

main section div.product article i{
    transition: transform 1s;
}

main section div.product article i:hover{
    transform: rotate(-90deg);
}


/*  LOGIN */

#formulario-login{
    width: 90%;
    font-size: 20px;
    background-color: var(--grisClaro);
    border-radius: 10px;
    margin: 20px;
    margin-top: 31px;
    margin-bottom: 36px;
}

#formulario-login .login-usuario{
    display: block;
    margin: 15PX;
    text-align: center;
    margin: 20px;
}
.login-usuario label input{
    width: 95%;
    font-size: 20px;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 5px 5px 5px;
}
.login-usuario button{
    border: 2px solid blue;
    background-color: blue;
    border-radius: 10px;
    color: rgb(231, 222, 222);
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    width: 60px;
}
#info-para-el-usuario{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.info-usuario{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.info-usuario:hover{
    text-decoration: underline;
}

/*REGISTRO*/
#Cuerpo-Formulario{
    display: flex;
    justify-content: center;
}
#Formulario{
    width: 300px;
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
}

#Formulario input{
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
.formulario-registro{
    margin: 15px;
}
.boton{
    margin-bottom: 25px;
    text-align: center;
}

/* Footer */
footer{
    background-color: var(--blanco);
} 

.pie-de-pagina{
    margin-top: 15px;
    text-align: center;
    margin: 10px;
}
.pie-de-pagina i{
    font-size: 2em;
    margin: 5px;
    background-color: var(--blanco);
    color: var(--azul);
}

.pie-de-pagina i:hover{
    color: rgb(42, 193, 244);
}
.pie-de-pagina h4{
    font-size: 15px;
}
footer h4{
    display: flex;
    justify-content: center;
}